<!DOCTYPE html>
<html>
<head>
	<title>Awesome website</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<% include partials/nav.ejs %>
<h1>
	 WELCOME <%= person %>
</h1>
<p> <strong> AGE : </strong> <%= data.age %>
	<strong> JOB TITLE : </strong> <%= data.job %></p>
	<h1> Hobbies </h1>
	<ul>
		<% data.hobbies.forEach(function(items){ %>
		<li><%= items %></li>

	<% }); %>
	</ul>
</body>
</html>